


body{
	-webkit-tap-highlight-color:transparent;
}

/*.conversation-card{
	background-color: red;
}

.conversation-box::-webkit-scrollbar{
	width:15px;
	
}

.conversation-box ::-webkit-scrollbar-track{
	background:blue;
	width:16px;
}

.conversation-box ::-webkit-scrollbar-thumb{
	background-color: red;
	color:red;
}

*/








