

.logreg-Btn*,.logreg-Btn-active*{
	outline:none;
	background-color: red;
}


/*.conversation-card{
	background-color: red;
}

.conversation-box::-webkit-scrollbar{
	width:15px;
	
}

.conversation-box ::-webkit-scrollbar-track{
	background:blue;
	width:16px;
}

.conversation-box ::-webkit-scrollbar-thumb{
	background-color: red;
	color:red;
}

*/








